
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    position: absolute;
    width: 100%;
    background-color: white;
    margin-bottom: 0%;
    margin-top: 5%;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: black;
    margin-bottom: 6%;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: black;
    margin-bottom: 6%;
    margin-left: 4%;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: lightgray;
    text-align: center;
    
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: black;
}
.pie-pagina .grupo-2{
    background-color: lightgray;
    padding: 15px 10px;
    text-align: center;
    color: black;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}


.red-social{
    display: flex;
    margin-bottom: 25px;
    margin-left: 10px;
}

#circulo1{
    width: 45px;
    height: 45px;
    background-color: blue;
    border-radius: 100%;
}
#circulo2{
    width: 45px;
    height: 45px;
    background-color: blue;
    border-radius: 100%;
    margin-left: 10px;
}


#circulo1 > #instalogo{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}