.parent{
    display: grid;
    grid-template-rows: auto;
}

body{
    background-image: url(fondo.png);
    background-size: 10%;
    background-repeat:repeat;
    background-position: center center;
    background-attachment: fixed;
}

ul{
    list-style: none;
}
.busc{
    position: sticky;
    background-color:white ;
}

.catalogo{
    margin-top: 1%;
    margin-right:10%;
    margin-left:10%;
    background-color: white;
    color: black;
    border: 2px black solid;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
   
}
.catalogocaja{
    border: 1px solid black;
    text-align: center;
    margin: 3%;
}

.catalogocaja img{
    border: 1px solid black;
    text-align: center;
    margin: 5%;
}

.catalogo h2{
    margin-left: 5%;
    margin-right: 5%;
    background-color: lightgray;
    border-top-left-radius: 50%;
    
    font-size: 150%;
    color: black;   
}

.catalogo p{
    
    margin-left: 5%;
    margin-right: 5%;
    border-bottom-right-radius:50% ;
    background-color: lightgray;
    color: black;
    font-size: 80%;
}
.nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    height: 60px;
    margin: 0 auto;
    grid-column-gap: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
    
    /*
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0%;
    padding: 10px;
    font-size: 200%;*/
}

.boton{
    margin-top: 15px;
    font-size: 20px;
    position: relative;
    width: 100%;
    height: 50px;
    transition: .3s ease all;
    overflow: hidden;
    cursor: pointer;
    background-color: lightgray;
}

.boton span{
    position: relative;
    z-index: 2; /*para que esté delante del color*/
    
}

.boton::after{ /*ayuda a crear un elemento dentro del boton*/
    content: ""; /*con la propiedad de content agrego el elemento */
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    z-index: 1; /*agrego z-index para que esté detrás del texto*/
    top: -80px; /*con este top la capa no es visible*/
    left: 0;
    transition: .3s ease-in-out all;
}

.boton:hover::after{
    top: 0; /*con este top la capa baja cuando se pasa el cursor por encima"*/
}

.cabecera{
    width: 100%;
    height: 80px;
    background-color: lightgray;
}

.nav a{
    text-decoration: none;
    color: black;
}


h4{ 
    background-color: rgb(255, 254, 215);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: larger;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box div{
    width: auto;
    height: auto;
}
.logo{
    margin-left:40.5%;
    margin-right: auto;
    text-align: center;
}

/*creo dos tipos de variables dentro de la pseudo clase root*/
:root{
    --linea--borde--relleno: #3498db;
    --linea--borde--vacio: #e0e0e0;
}

*{
    box-sizing: border-box;
}

.padre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.progreso-contenedor{
    /*color: aliceblue;*/
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.contenedor{
    text-align: center;
}

.progreso-contenedor::before{
    content: ''; /*Con esto logro que se muestre la barra*/
    background-color: var(--linea--borde--vacio);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1; /*Esto sirve para que la barra esté detrás de los numeros*/
    transition: 0,4s ease; /*Tiempo de transición */
}

.progreso{
    background-color: var(--linea--borde--relleno);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0;
    z-index: -1; /*Esto sirve para que la barra esté detrás de los numeros*/
    transition: 0,4s ease; /*Tiempo de transición */
}



.circle{
    height: 30px;
    width: 30px;
    background-color: #fff;
    color: #999;
    border-radius: 50%; /*doy forma circular a los numeros*/
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--linea--borde--vacio);
    transition: 0,4s ease;
}

.circle.active{
    border-color: var(--linea--borde--relleno);
}

.btn{
    background-color: var(--linea--borde--relleno);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer; /*cuando se pasa el mouse por encima, se cambia la flecha por la mano*/
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active{
    transform: scale(0.98); /*le da un efecto al tocar el boton*/
}

.btn:disabled{
    background-color: var(--linea--borde--vacio);
}




 
 
  
    
