:root{
    --blanco:#ffffff;
    --negro:#000000;
    --ligthgray:#d8cece;
}
.parent{
    display: grid;
    grid-template-rows: auto;
}

body{
    background-image: url(fondo.png);
    background-size: 100px;
    background-repeat:repeat;
    background-position: center center;
    background-attachment: fixed;
}

ul{
    list-style: none;
}
.busc{
    position: sticky;
    background-color:var(--blanco) ;
}

.catalogo{
    margin-top: 50px;
    margin-right:150px;
    margin-left:150px;
    background-color:var(--blanco);
    color: var(--negro);
    border: 2px var(--negro) solid;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
   
}
.pedidos{
    margin-top: 50px;
    margin-right:150px;
    margin-left:150px;
    background-color:var(--blanco);
    color: var(--negro);
    border: 2px var(--negro) solid;

    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
}

.form{
    background-color: var(--blanco);
    border: var(--negro) 1px solid;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    font-size: 100%;
}
.form2{
    background-color: var(--blanco);
    border: var(--negro) 1px solid;
    border-radius: 20px;
    padding: 100px;
    text-align: center;
    font-size: 100%;
}
.submit{
    margin: 10px 550px;
    border: var(--negro) 1px solid;
    border-radius: 20px;
    font-size: 100%;
    text-align: center;
}
.formulario{
    text-align: center;
    font-size: 150%;
    display: grid;
    grid-template-columns:auto;
    grid-template-rows:auto;
    margin: 10px 10px;
    border-bottom-right-radius:50%  ;
    border-top-left-radius: 50%;
    background-color: var(--ligthgray);
}
.formulario h1{
    text-align: center;
}
.formulario form{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows:auto;
    grid-gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 10px 150px;
}
.catalogocaja{
    border: 1px solid var(--negro);
    text-align: center;
    margin: 6px;
}

.catalogocaja img{
    border: 1px solid var(--negro);
    text-align: center;
    margin: 7px;
}

.catalogo h2{
    margin-left: 7px;
    margin-right: 7px;
    background-color: var(--ligthgray);
    border-top-left-radius: 50%;
    font-size: 150%;
    color: var(--negro);   
}

.catalogo p{
    
    margin-left: 7px;
    margin-right: 7px;
    border-bottom-right-radius:50% ;
    background-color: var(--ligthgray);
    color: var(--negro);
    padding-bottom:25px ;
    padding-left:7px ;
    font-size: 80%;    
}
.nav{
    background-color:var(--ligthgray);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0%;
    padding: 10px;
    font-size: 200%;
    
}

.nav a{
    text-decoration: none;
    color: var(--negro);
}


h4{ 
    background-color: var(--blanco);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: larger;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box div{
    width: auto;
    height: auto;
}
 .logo{
        margin-left:40.5%;
    margin-right: auto;
    text-align: center;
  }


 
 
  
    
