:root{
    --blanco:#ffffff;
    --negro:#000000;
    --ligthgray:#d8cece;
    --red:#f70404;
}
.parent{
    display: grid;
    grid-template-rows: auto;
}
body{
    background-image: url(fondo.png);
    background-size: 100px;
    background-repeat:repeat;
    background-position: center center;
    background-attachment: fixed;
}
ul{
    list-style: none;
}
.busc{
    position: sticky;
    background-color:var(--blanco) ;
}

.catalogo{
    margin-top: 50px;
    margin-right:150px;
    margin-left:150px;
    background-color:var(--blanco);
    color: var(--negro);
    border: 2px var(--negro) solid;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
   
}
.pedidos{
    margin-top: 50px;
    margin-right:150px;
    margin-left:150px;
    background-color:var(--blanco);
    color: var(--negro);
    border: 2px var(--negro) solid;

    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
}
.zoom {
    transition: transform .2s; 
}
 
.zoom:hover {
    transform: scale(1.5); 
}
.informacion{
    margin-top: 50px;
    margin-right:150px;
    margin-left:150px;
    background-color:var(--blanco);
    color: var(--negro);
    border: 2px var(--negro) solid;
    text-align: center;
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto;  
}
.form{
    background-color: var(--blanco);
    border: var(--negro) 1px solid;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    font-size: 100%;
}
.form2{
    background-color: var(--blanco);
    border: var(--negro) 1px solid;
    border-radius: 20px;
    padding: 100px;
    text-align: center;
    font-size: 100%;
}
.informacion h1{
    font-size: 250%;

}
.informacion p{
    margin: 2% 10%;
}