*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    position: absolute;
    width: 100%;
    background-color: white;
    margin-bottom: 0%;
    margin-top: 5%;
}